basePath: /
definitions:
  model.AddMobileNumberFailureResponse:
    properties:
      error:
        example: Failed to add mobile number
        type: string
    type: object
  model.AddMobileNumberRequest:
    properties:
      mobileNumber:
        $ref: '#/definitions/model.MobileNumber'
    type: object
  model.AddMobileNumberSuccessResponse:
    properties:
      mobileNumber:
        $ref: '#/definitions/model.MobileNumber'
    type: object
  model.CreateUserFailureResponse:
    properties:
      error:
        description: Error indicates the error message
        example: Failed to create user
        type: string
    type: object
  model.CreateUserRequest:
    properties:
      age:
        description: Age is the age of the user
        example: 30
        type: integer
      familyName:
        description: FamilyName is the last name of the user
        example: Doe
        type: string
      isMarried:
        description: IsMarried indicates if the user is married
        example: false
        type: boolean
      name:
        description: Name is the first name of the user
        example: John
        type: string
    type: object
  model.CreateUserSuccessResponse:
    properties:
      message:
        description: Message indicates the success message
        example: User created successfully
        type: string
      user_id:
        description: UserID is the ID of the created user
        example: 1
        type: integer
    type: object
  model.DeleteMobileNumberSuccessResponse:
    properties:
      message:
        example: Mobile number deleted successfully
        type: string
    type: object
  model.DeleteUserByIDSuccessResponse:
    properties:
      message:
        description: Message indicates the success message
        example: User deleted successfully
        type: string
    type: object
  model.GetUserByIDSuccessResponse:
    properties:
      user:
        allOf:
        - $ref: '#/definitions/model.User'
        description: User is the user object
    type: object
  model.GetUserListFailureResponse:
    properties:
      error:
        description: Error indicates the error message
        example: Failed to retrieve user list
        type: string
    type: object
  model.GetUserListSuccessResponse:
    properties:
      users:
        description: Users is a list of users
        items:
          $ref: '#/definitions/model.User'
        type: array
    type: object
  model.LoginFailureResponse:
    properties:
      error:
        description: Error indicates the error message
        example: Authentication failed
        type: string
    type: object
  model.LoginRequest:
    properties:
      password:
        description: Password is the password of the user
        example: "1234"
        type: string
      username:
        description: Username is the username of the user
        example: Aliasghar
        type: string
    type: object
  model.LoginSuccessResponse:
    properties:
      token:
        description: Token is the JWT token
        example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
        type: string
    type: object
  model.MobileNumber:
    properties:
      countryCode:
        description: CountryCode is the country code associated with the mobile number
        type: string
      isActive:
        description: IsActive indicates if the mobile number is active
        type: boolean
      number:
        description: Number is the mobile number
        type: string
      type:
        description: Type indicates the type of mobile number (e.g., credit, debit)
        type: string
    type: object
  model.StatusNotFoundResponse:
    properties:
      error:
        description: Error indicates the error message
        example: User not found
        type: string
    type: object
  model.StatusUnauthorizedResponse:
    properties:
      error:
        description: Error indicates the error message
        example: Authentication failed
        type: string
    type: object
  model.UpdateUserByIDFailureResponse:
    properties:
      error:
        description: Error indicates the error message
        example: Failed to update user
        type: string
    type: object
  model.UpdateUserByIDRequest:
    properties:
      age:
        description: Age is the age of the user
        example: 21
        type: integer
      familyName:
        description: FamilyName is the last name of the user
        example: Nigga
        type: string
      isMarried:
        description: IsMarried indicates if the user is married
        example: true
        type: boolean
      name:
        description: Name is the first name of the user
        example: Amir
        type: string
    type: object
  model.UpdateUserByIDSuccessResponse:
    properties:
      message:
        description: Message indicates the success message
        example: User updated successfully
        type: string
    type: object
  model.User:
    properties:
      age:
        description: Age is the age of the user
        type: integer
      familyName:
        description: FamilyName is the last name of the user
        type: string
      id:
        description: ID is the unique identifier for the user
        type: integer
      isMarried:
        description: IsMarried indicates if the user is married
        type: boolean
      mobileNumbers:
        description: MobileNumbers is a list of mobile numbers associated with the
          user
        items:
          $ref: '#/definitions/model.MobileNumber'
        type: array
      name:
        description: Name is the first name of the user
        type: string
    type: object
host: 127.0.0.1:9898
info:
  contact:
    email: ali.heidari@gmail.com
    name: Aliasghar Heidari
  description: API for managing users and their mobile numbers.
  title: Mine API - Swagger Docs
  version: "1.0"
paths:
  /user:
    get:
      description: Get list of users
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.GetUserListSuccessResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/model.GetUserListFailureResponse'
      security:
      - BearerAuth: []
      summary: List users
      tags:
      - Users
    post:
      consumes:
      - application/json
      description: Create a new user
      parameters:
      - description: new user payload
        in: body
        name: newUserDetails
        required: true
        schema:
          $ref: '#/definitions/model.CreateUserRequest'
      produces:
      - application/json
      responses:
        "201":
          description: user created successfully
          schema:
            $ref: '#/definitions/model.CreateUserSuccessResponse'
        "400":
          description: invalid request body
          schema:
            $ref: '#/definitions/model.CreateUserFailureResponse'
        "401":
          description: unauthorized
          schema:
            $ref: '#/definitions/model.StatusUnauthorizedResponse'
      security:
      - BearerAuth: []
      summary: Create user
      tags:
      - Users
  /user/{id}:
    delete:
      description: Delete user by ID
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: string
      responses:
        "204":
          description: user deleted successfully
          schema:
            $ref: '#/definitions/model.DeleteUserByIDSuccessResponse'
        "401":
          description: unauthorized
          schema:
            $ref: '#/definitions/model.StatusUnauthorizedResponse'
        "404":
          description: not found
          schema:
            $ref: '#/definitions/model.StatusNotFoundResponse'
      security:
      - BearerAuth: []
      summary: Delete user
      tags:
      - Users
    get:
      description: Get user by ID
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: user retrieved successfully
          schema:
            $ref: '#/definitions/model.GetUserByIDSuccessResponse'
        "401":
          description: unauthorized
          schema:
            $ref: '#/definitions/model.StatusUnauthorizedResponse'
        "404":
          description: not found
          schema:
            $ref: '#/definitions/model.StatusNotFoundResponse'
      security:
      - BearerAuth: []
      summary: Get user by ID
      tags:
      - Users
    put:
      consumes:
      - application/json
      description: Update user by ID
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: string
      - description: user payload
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/model.UpdateUserByIDRequest'
      produces:
      - application/json
      responses:
        "200":
          description: user updated successfully
          schema:
            $ref: '#/definitions/model.UpdateUserByIDSuccessResponse'
        "400":
          description: bad request
          schema:
            $ref: '#/definitions/model.UpdateUserByIDFailureResponse'
        "401":
          description: unauthorized
          schema:
            $ref: '#/definitions/model.StatusUnauthorizedResponse'
        "404":
          description: not found
          schema:
            $ref: '#/definitions/model.StatusNotFoundResponse'
      security:
      - BearerAuth: []
      summary: Update user
      tags:
      - Users
  /user/{id}/mobile-number:
    post:
      consumes:
      - application/json
      description: Add a mobile number to user
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: string
      - description: mobile number payload
        in: body
        name: number
        required: true
        schema:
          $ref: '#/definitions/model.AddMobileNumberRequest'
      produces:
      - application/json
      responses:
        "201":
          description: mobile number added successfully
          schema:
            $ref: '#/definitions/model.AddMobileNumberSuccessResponse'
        "400":
          description: bad request
          schema:
            $ref: '#/definitions/model.AddMobileNumberFailureResponse'
        "401":
          description: unauthorized
          schema:
            $ref: '#/definitions/model.StatusUnauthorizedResponse'
      security:
      - BearerAuth: []
      summary: Add mobile number
      tags:
      - MobileNumbers
  /user/{id}/mobile-number/{number}:
    delete:
      description: Delete a mobile number of a user
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: string
      - description: mobile number
        in: path
        name: number
        required: true
        type: string
      responses:
        "204":
          description: mobile number deleted successfully
          schema:
            $ref: '#/definitions/model.DeleteMobileNumberSuccessResponse'
        "401":
          description: unauthorized
          schema:
            $ref: '#/definitions/model.StatusUnauthorizedResponse'
        "404":
          description: not found
          schema:
            $ref: '#/definitions/model.StatusNotFoundResponse'
      security:
      - BearerAuth: []
      summary: Delete mobile number
      tags:
      - MobileNumbers
  /user/login:
    post:
      consumes:
      - application/json
      description: Authenticate user and return JWT token
      parameters:
      - description: login request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/model.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: login success
          schema:
            $ref: '#/definitions/model.LoginSuccessResponse'
        "400":
          description: invalid request body
          schema:
            $ref: '#/definitions/model.LoginFailureResponse'
      summary: Login user
      tags:
      - Authentication
schemes:
- http
security:
- BearerAuth: []
securityDefinitions:
  BearerAuth:
    description: Type "Bearer" followed by a space and JWT token.
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
